name: Publish

on:
  push:
    branches: ['master', 'acceptance', 'edge']

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest
    env:
      npm_token: ${{ secrets.NPM_TOKEN }}
    steps:
      - run: echo "##[set-output name=branch;]$(echo ${GITHUB_REF#refs/heads/})"
        id: branch
      - uses: actions/checkout@v4
      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Install npm dependencies
        run: bun install --frozen-lockfile

      - name: Publish to Betty Blocks
        run: bun run publish.ts ${{ secrets.API_URL }} ${{ secrets.JAWS_SECRETS }} ${{ steps.branch.outputs.branch }}
